{{ markdownify "## 资源推荐" }}
<div style="padding: 0px 20px; border: 1px solid #16982B; font-size:14px; border-radius: 10px;">
    <p><strong>音乐频道</strong><br>
        Telegram频道：<a href="https://t.me/morning_dawn_music">Morning Dawn Music</a><br>
        <span style="color: red;">专注高质量音乐分享，坚持每天更新！</span>
    </p>

    <p><strong>VPS推荐</strong><br>
        <a href="https://www.vultr.com/?ref=9742814">VULTR</a> | <a href="https://bwh81.net/aff.php?aff=73687">搬瓦工</a>
    </p>

    <p><strong>自用机场</strong><br>
        <a href="https://d.126126.xyz/3">追风岛【中端/大厂】</a>
    </p>

    <p><strong>个人频道与网站</strong><br>
        <a href="https://www.youtube.com/c/ericwang618">YouTube</a> | <a href="https://space.bilibili.com/221010336">哔哩哔哩</a> | <a
            href="https://v.douyin.com/4olXhyAHdE0/">抖音</a> | <a href="https://t.me/first_sunlight">Telegram</a> | <a href="https://www.126126.xyz">个人网站</a>
    </p>

    <p><strong>合作联系</strong><br>
        邮箱：fs104300@outlook.com</p>
</div>